!static/img/user_uploads/.ignore
*.bak
*.db
*.lnk
*.log
*.mmdb
*.swp
*.vim
*todo.md
*venv
.DS_Store
.env
.flake8
.history
.idea
.vscode
__pycache__
bfg.jar
db.json
mail_conf.json
pretty_date.py
putty_*.txt
reg.py
run
static/img/user_uploads/*
