html {
    margin: 0;

    background-color: lightgray;

    font-family: sans-serif;
    font-size: medium;
}
body {
    width: 50rem;
    left: 0;
    right: 0;

    margin: auto;

    background-color: white;
}

#cities-header {
    width: 100%;

    padding-top: 0.5rem;

    color: white;
    background-color: var(--primary);
}
#cities-header #cities-logo {
    width: 20rem;
}
#cities-header #navbar {
    display: block;

    margin: 0;
    padding: 0.25rem 1rem;

    background-color: var(--primary-dark);
}
#cities-header #navbar li {
    display: inline-block;
}
#cities-header #navbar li a {
    color: white;
    text-decoration: none;
}
#cities-header #navbar li a:hover {
    color: lightgray;
    text-decoration: underline;
}
#cities-header #navbar li:not(:last-child):after {
    content: '|';
    padding: 0 0.5rem;
}

#cities-footer {
    padding: 0.5rem;
    padding-top: 2rem;

    color: black;
    background-color: lightgray;

    text-align: center;
}

#body-container {
    padding: 1rem;
    padding-top: 0;
}
#body-container input {
    font-size: medium;
}

#html-editor {
    display: block;

    width: 100%;
    height: 20rem;

    margin-bottom: 1rem;

    font-family: monospace;
    font-size: medium;
}

.CodeMirror.cm-s-default {
    border: solid 1px lightgray;
    margin-bottom: 1rem;
}

input[type="submit"].button-primary, button.button-primary {
    background-color: var(--primary);
    border-color: var(--primary-faded);

    color: white;
    font-size: medium;
    font-weight: bold;
    min-width: 5em;
    min-height: 2em;
    border-style: solid;
    border-radius: 0.25em;
}

.float-right {
    float: right;
}
.clearfix {
    clear: both;
}
