{% macro expand_img() %}
    style="cursor: pointer;" data-toggle="modal" data-target="#image_modal" onclick="$('#image_modal img').attr('src', $(this).find('img, div').attr('src'))"
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Crabber</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.svg')}}" type="image/x-icon">

    <!-- Mobile web app -->
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='img/icon.jpg')}}">
    <link rel="apple-touch-startup-image" href="{{url_for('static', filename='img/launch.png')}}">
    <meta name="apple-mobile-web-app-title" content="Crabber">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="frame-src open.spotify.com youtube.com www.youtube.com;" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color_overrides.css') }}">

    <!-- Custom scripts -->
    <script>
        // AJAX Form Submit
        function SubForm(form, url=null) {
            if (url == null) {
                url = document.location.pathname;
            }
            $.ajax({
                url: url,
                type: 'post',
                data: $(form).serialize(),
                error: function () {
                    console.warn("Failed to submit form to server;");
                },
            });
        }

        function GetData(request_type, data, callback, error_callback=null) {
            $.ajax({
                url: "/ajax_request/" + request_type,
                type: 'get',
                data: data,
                success: function (response) {
                    callback(response);
                },
                error: error_callback
            });
        }

        function toggleLike(e) {
            let empty_heart = $(e).children(".jam")[0];
            let filled_heart = $(e).children(".jam")[1];
            let counter = $(e).children("span")[0]

            // was liked, needs to be unliked
            if (empty_heart.classList.contains("d-none")) {
                $(empty_heart).removeClass("d-none");
                $(filled_heart).addClass("d-none");
                $(counter).removeClass("text-primary");
                counter.textContent = parseInt(counter.textContent) - 1
            }
            // was unliked, needs to be liked
            else {
                $(filled_heart).removeClass("d-none");
                $(empty_heart).addClass("d-none");
                $(counter).addClass("text-primary");
                counter.textContent = parseInt(counter.textContent) + 1
            }
        }

        function toggleFollow() {
            if ($('[name=\'user_action\']').val() == "unfollow") {
                $('[name=\'user_action\']').val('follow');
                $('#follow-btn strong').text('Follow');
            } else {
                $('[name=\'user_action\']').val('unfollow');
                $('#follow-btn strong').text('Unfollow');
            }
        }
        //TODO: Yeah
        function clearModal() {
            // Clear text
            $("#compose_modal textarea").val("")
            // Hide modal
            $("#compose_modal").modal("hide")
        }

        function prepareReply(molt_id, author_username, author_name) {
            // Update "replying to" link
            $("#reply-to").text(author_name)
            $("#reply-to").attr("href", "/user/" + author_username)
            // Update form reply-to ID
            $("#reply-molt-id").val(molt_id)
        }

        function prepareEdit(molt_id) {
            // Update form edit-molt content
            $("#edit-content").val($("#molt-content-" + molt_id).attr("data-content"))
            // Update form edit-molt ID
            $("#edit-molt-id").val(molt_id)
            // Update character counter
            updateCounter.call($('#edit_molt_modal textarea'));
        }

        // Set notification badge to 'unread_count'
        function updateNotifBadge(unread_count) {
            var badge = $(".notif-badge");

            if (unread_count > 0) {
                badge.removeClass("d-none");
                badge.text(unread_count);
            }
            else {
                badge.addClass("d-none");
            }
        }

        // Set new molt indicator to 'molt_count'
        function updateNewMoltIndicator(molt_count) {
            if (molt_count > 0) {
                // Update counter
                $("#new-molt-counter").text(molt_count);
                // Update the s in 'new molts'
                $("#new-molt-s").text((molt_count == 1) ? "" : "s");
                // Made indicator visible
                $("#new-molt-indicator").removeClass("d-none");
            }
        }


        function updateImgPreview(imgInput) {
            var imgPreview = $(imgInput.form).find(".img-preview");
            var closeButton = $(imgInput.form).find(".close-file-btn");
            var file = imgInput.files[0];
            var reader = new FileReader();

            reader.onloadend = function() {
                // Update image preview
                $(imgPreview).parent().removeClass("d-none");
                imgPreview.css("background-image", `url('${reader.result}')`);
                imgPreview.attr("src", reader.result);

                // Show remove image button
                closeButton.removeClass("d-none");
                $(imgInput).parent().addClass("d-none");
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        function removeImg(closeBtn) {
            var form = $(closeBtn.parentElement.parentElement)
            var imgPreview = form.find(".img-preview").parent();
            var imgInput = form.find(".custom-file");

            // Clear image input
            form.find('.custom-file-input').val("");

            // Hide image preview, hide close button, and show image picker
            imgPreview.addClass("d-none");
            $(closeBtn).addClass("d-none");
            imgInput.removeClass("d-none");
        }

        function subMolt(form) {
            if (form['molt_content'].value) {
                $(form).find('button strong').text('Uploading...');
                $(form).attr("disabled", "");
                return true;
            }
            alert("Molt cannot be devoid of text.");
            return false;
        }
        
        {% if current_user %}
            // When document loads
            $(function() {
                {% if current_page == "home" %}
                setInterval(GetData, 5000, "molts_since", {'crab_id': {{current_user.id}}, 'timestamp': {{TIMESTAMP}}}, updateNewMoltIndicator);
                {% endif %}

                // Initial notif count update
                GetData("unread_notif", {'crab_id': {{current_user.id}}}, updateNotifBadge);
                // Update notif count every 5 seconds
                setInterval(GetData, 5000, "unread_notif", {'crab_id': {{current_user.id}}}, updateNotifBadge);
            });
        {% endif %}

    </script>
    {% endblock %}
</head>
<body class="bg-dark text-light">
    <div class="container-fluid vh-100 master-container">
        <div class="row h-100 justify-content-{{ "center" if hide_sidebar else "start" }}">
            {% if not hide_sidebar %}
            <!-- Nav Panel -->
            <div class="col-2 col-lg-2 offset-lg-1 offset-xl-2 p-1" id="nav-panel">
                <!-- Logo -->
                <img class="mt-2 d-block mx-auto d-lg-inline mx-lg-0 logo clickable" src="{{ url_for('static', filename='img/crabber_logo.svg') }}"
                alt="Crabber Logo" width="43" height="43" onclick="location.href='/'">
                
                <!-- Nav Buttons -->
                <form action="/">
                    <button type="submit" class="btn btn-secondary rounded-pill mt-2"
                    {% if current_page == "home" %}
                    id="nav-active"
                    {% endif %}
                    >
                        <span class="btn-icon" data-width="28" data-height="28" data-jam="home{{"-f" if current_page == "home" else ""}}"></span>
                        <strong class="d-none d-lg-inline-block ml-2">Home</strong>
                    </button>
                </form>

                <form action="/wild">
                    <button type="submit" class="btn btn-secondary rounded-pill mt-2" 
                        {% if current_page == "wild-west" %} 
                            id="nav-active"
                        {% endif %}>
                        <span class="btn-icon" data-width="28" data-height="28"
                            data-jam="cactus{{"-f" if current_page == "wild-west" else ""}}"></span>
                        <strong class="d-none d-lg-inline-block ml-2">Wild West</strong>
                    </button>
                </form>
                
                {% if current_user %}
                <form action="/notifications">
                    <button type="submit" class="btn btn-secondary rounded-pill mt-2 position-relative"
                    {% if current_page == "notifications" %}
                        id="nav-active"
                    {% endif %}>
                        <span class="btn-icon" data-width="28" data-height="28" data-jam="bell{{"-f" if current_page == "notifications" else ""}}"></span>
                        <span class="notif-badge {{"" if current_user.unread_notifications else "d-none"}}">{{current_user.unread_notifications}}</span>
                        <strong class="d-none d-lg-inline-block ml-2">Notifications</strong>
                    </button>
                </form>
                {% endif %}

                <form action="/search">
                    <button type="submit" class="btn btn-secondary rounded-pill mt-2 position-relative"
                        {% if current_page == "search" %} id="nav-active" {% endif %}>
                        <span class="btn-icon" data-width="28" data-height="28" data-jam="search"></span>
                        <strong class="d-none d-lg-inline-block ml-2">Search</strong>
                    </button>
                </form>

                {% if current_user %}
                <form action="/user/{{current_user.username}}">
                    <button type="submit" class="btn btn-secondary rounded-pill mt-2"
                    {% if current_page == "own-profile" %}
                    id="nav-active"
                    {% endif %}
                    >
                        <!-- <img class="rounded-circle {{"box-shadow" if current_page == "own-profile" else ""}}" src="{{url_for('static', filename=current_user.avatar)}}" width="28" height="28" alt="Your profile picture"> -->
                        <div class="rounded-circle px28 profile-picture d-inline-block valign-middle {{"box-shadow" if current_page == "own-profile" else ""}}"
                            style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"></div>
                        <strong class="d-none d-lg-inline-block ml-2">Profile</strong>
                    </button>
                </form>

                <!-- Molt button -->
                <button type="button" class="btn btn-primary rounded-pill w-md-75 mt-4" id="molt-btn" data-toggle="modal" data-target="#compose_modal">
                    <span class="btn-icon d-lg-none" data-width="28" data-height="28" data-jam="write"></span>
                    <strong class="d-none d-lg-inline-block">Molt</strong>
                </button>

                <form action="/logout">
                    <button type="submit" class="btn btn-secondary rounded-pill mt-2 text-muted">
                        <span class="btn-icon" data-width="28" data-height="28" data-jam="log-out"></span>
                        <strong class="d-none d-lg-inline-block ml-2">Log out</strong>
                    </button>
                </form>
                {% endif %}
            </div>
            {% endif %}

            {% if current_user %}
            <!-- Molt popup -->
            <div class="modal fade" id="compose_modal" tabindex="-1" role="dialog" aria-labelledby="composeModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header py-2 border-dark">
                            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row">
                            <div class="mini-molt-profile-box col-lg-1 mr-2">
                                <a href="/user/{{current_user.username}}">
                                    <div class="rounded-circle px43 profile-picture"
                                        style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"></div>
                                </a>
                            </div>
                            <div class="mini-molt-text-box w-100 h-100 px-2 col">
                                <form action={{location}} method="POST" enctype="multipart/form-data" onsubmit="return subMolt(this);">
                                    <div class="mini-compose-textarea">
                                        <textarea name="molt_content" maxlength="{{MOLT_CHAR_LIMIT}}" rows="5" class="my-2 w-100"
                                            placeholder="How are you feeling?"></textarea required>
                                        <div class="large-molt-media-container d-none mb-2 border border-dark rounded-media zindex-front" {{expand_img()}}>
                                            <img class="img-preview w-100 rounded-media"></img>
                                        </div>
                                    </div>
                                    <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">
                                        <!-- Image picker -->
                                        <div class="file-input input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01" name="molt-media"
                                                    aria-describedby="inputGroupFileAddon01" onchange="updateImgPreview(this);"
                                                    accept="image/x-png,image/jpeg">
                                                <label class="custom-file-label" for="inputGroupFile01">
                                                    <span class="file-btn" data-width="28" data-height="28" data-jam="picture"></span>
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="file-btn clickable close-file-btn d-none" onclick="removeImg(this);">
                                            <span data-width="28" data-height="28" data-jam="close-rectangle"></span>
                                        </div>

                                        <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                                        <input type="hidden" name="user_action" value="submit_molt">
                                        {% if current_page in ("home", "own-profile", "molt-page") %}
                                            <!-- Reload in place -->
                                            <button type="submit" class="btn btn-primary rounded-pill"><strong>Molt</strong></button>
                                        {% else %}
                                            <button type="button" onclick="SubForm(this.parentNode.parentNode);clearModal();" class="btn btn-primary rounded-pill"><strong>Molt</strong></button>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Molt reply popup -->
            <div class="modal fade" id="compose_reply_modal" tabindex="-1" role="dialog" aria-labelledby="composeReplyModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header py-2 border-dark">
                            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Replying to <a class="text-light" id="reply-to" href="">someone</a></strong>
                        </div>
                        <div class="modal-body row">
                            <div class="mini-molt-profile-box col-lg-1 mr-2">
                                <a href="/user/{{current_user.username}}">
                                    <div class="rounded-circle px43 profile-picture"
                                        style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"></div>
                                </a>
                            </div>
                            <div class="mini-molt-text-box w-100 h-100 px-2 col">
                                <form action={{location}} method="POST" enctype="multipart/form-data" onsubmit="return subMolt(this);">
                                    <div class="mini-compose-reply-textarea">
                                        <textarea name="molt_content" maxlength="{{MOLT_CHAR_LIMIT}}" rows="5" class="my-2 w-100"
                                            placeholder="Remember to be kind"></textarea required>
                                        <div class="large-molt-media-container d-none mb-2 border border-dark rounded-media zindex-front" {{expand_img()}}>
                                            <img class="img-preview w-100 rounded-media"></img>
                                        </div>
                                    </div>
                                    <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">
                                        
                                        <!-- Image picker -->
                                        <div class="file-input input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile02" name="molt-media" 
                                                    aria-describedby="inputGroupFileAddon01" onchange="updateImgPreview(this);"
                                                    accept="image/x-png,image/jpeg">
                                                <label class="custom-file-label" for="inputGroupFile02">
                                                    <span class="file-btn" data-width="28" data-height="28" data-jam="picture"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="file-btn clickable close-file-btn d-none" onclick="removeImg(this);">
                                            <span data-width="28" data-height="28" data-jam="close-rectangle"></span>
                                        </div>

                                        <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                                        <input type="hidden" name="user_action" value="submit_reply_molt">
                                        <input type="hidden" id="reply-molt-id" name="molt_id" value="">
                                        <button type="submit" class="btn btn-primary rounded-pill"><strong>Reply</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Molt popup -->
            <div class="modal fade" id="edit_molt_modal" tabindex="-1" role="dialog" aria-labelledby="editMoltModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header py-2 border-dark">
                            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Editing your own Molt</a></strong>
                        </div>
                        <div class="modal-body row">
                            <div class="mini-molt-profile-box col-lg-1 mr-2">
                                <a href="/user/{{current_user.username}}">
                                    <div class="rounded-circle px43 profile-picture"
                                        style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"></div>
                                </a>
                            </div>
                            <div class="mini-molt-text-box w-100 h-100 px-2 col">
                                <form action={{location}} method="POST" enctype="multipart/form-data" onsubmit="return subMolt(this);">
                                    <div class="mini-compose-reply-textarea">
                                        <textarea id="edit-content" name="molt_content" maxlength="{{MOLT_CHAR_LIMIT}}" rows="5" class="my-2 w-100"
                                            placeholder="Remember to be kind"></textarea required>
                                    </div>
                                    <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">
                                        <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                                        <input type="hidden" name="user_action" value="submit_molt_edit">
                                        <input type="hidden" id="edit-molt-id" name="molt_id" value="">
                                        <button type="submit" class="btn btn-primary rounded-pill"><strong>Save</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Image expand modal -->
            <div class="modal fade" id="image_modal" tabindex="-1" role="dialog" aria-labelledby="composeModalLabel" aria-hidden="true">
                <div class="modal-dialog image-modal-body absolute-center" role="document">
                    <img class="absolute-center" src="" alt="Expanded image">
                </div>
            </div>

            <!-- Main Content -->
            <!-- TODO: Make scrollbar appear on the outside edge -->
            <div class="col col-lg-6 content border-dark border-left border-right p-0" id="main-panel">
                <div class="border-dark border-bottom p-2" id="content-heading">
                    <h6 class="m-1"><strong>{% block heading %}{% endblock %}</strong></h6>
                </div>
                <div id="content-body" class="h-100">
                    {% if error %}
                        <!-- ERROR MESSAGE -->
                        <div class="alert alert-danger p-1" role="alert">{{error}}</div>
                    {% endif %}
                    {% if msg %}
                        <!-- MISC MESSAGE -->
                        <div class="alert alert-secondary p-1" role="alert">{{msg}}</div>
                    {% endif %}
                    {% block body %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- Jam Icons (https://jam-icons.com). Thanks so much! -->
    <script src="https://unpkg.com/jam-icons/js/jam.min.js"></script>

    <script>
        // Character counter stuff ///////////////////////////////////////////////////////////
        function updateCounter() {
            let textarea = $(this);
            let counter = textarea.parents("form").find(".mini-character-counter");
            counter.text({{ MOLT_CHAR_LIMIT }} - textarea.val().length);

            // Enable/disable submit button
            textarea.parents("form").find("button").attr("disabled", textarea.val().length == 0);
        }

        // Counter is hidden by default so if Javascript breaks or is blocked the user doesn't see it in a broken state
        $(".mini-character-counter").each(function(index, el) {
            $(el).removeClass("d-none");
        })

        // Update character count
        $(".mini-compose-textarea textarea, .mini-compose-reply-textarea textarea").each(function(index, el) {
            // Bind change event to function
            $(el).on("input propertychange", updateCounter);
            // Run on init (in case of text being previously filled)
            updateCounter.call(el);
        })
    </script>
</body>
</html>