{% extends 'cities-base.html' %}
{% block title %}
    Edit your page
{% endblock %}

{% block ext_head %}
    <script src="{{url_for('static', filename='codemirror/lib/codemirror.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='codemirror/lib/codemirror.css')}}">
    <script src="{{url_for('static', filename='codemirror/mode/css/css.js')}}"></script>
    <script src="{{url_for('static', filename='codemirror/mode/htmlmixed/htmlmixed.js')}}"></script>
    <script src="{{url_for('static', filename='codemirror/mode/xml/xml.js')}}"></script>
{% endblock %}

{% block body %}
    <h1>Edit your CrabberCities site</h1>
    <p>Your pages</p>
    <form>
        <ul>
            {% for page in house.pages %}
            <li>
                <input type="submit" name="page_name" value="{{page}}">
            </li>
            {% endfor %}
            <li>
                <input type="text" name="page_name" placeholder="Page name">
                <input type="submit" value="Create new page">
            </li>
        </ul>
    </form>

    <form method="POST">
        <input type="hidden" name="user_action" value="delete_page">
        <input type="hidden" name="page" value="{{page_name}}">
        <p>
            Editing '<b>{{page_name}}</b>'
            <input type="submit" value="Delete page">
        </p>
    </form>
    <form method="POST">
        <input type="hidden" name="user_action" value="update_html">
        <input type="hidden" name="page" value="{{page_name}}">
        <textarea id="html-editor" name="html" placeholder="Put your HTML here." wrap="off">{{ house.get_page(page_name) or '' }}</textarea>
        <input class="button-primary float-right" type="submit" value="Save">
        <div class="clearfix"></div>
    </form>

    <script>
        <!-- Convert textarea into CodeMirror -->
        var textArea = document.getElementById('html-editor');
        var myCodeMirror = CodeMirror.fromTextArea(textArea, {
            lineNumbers: true,
            mode: "htmlmixed"
        });
    </script>
{% endblock %}
