<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | CrabberCities</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.svg')}}" type="image/svg+xml">
    <link rel="alternate icon" href="{{url_for('static', filename='img/favicon.png')}}">

    <!-- Search Engine Metadata -->
    <meta name="description" content="CrabberCities is bringing the Geo back to your city!">
    <meta name="tags" content="crabber, twitter, micro-blogging, crabs, twitter alternative, open-source, social, social media, social network, mastodon, privacy, geocities, html, myspace, retro">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Facebook Embed Metadata -->
    <meta property="og:site_name" content="Crabber">
    <meta property="og:title" content="{{social_title or 'Join Crabber'}}">
    <meta property="og:description" content="Crabber is a friendly open-source micro-blogging platform powered by Crabs.">
    {% if this_user %}
        {% set social_image = this_user.avatar %}
    {% elif molt %}
        {% set social_image = molt.author.avatar %}
    {% else %}
        {% set social_image = 'img/crabber_header.png' %}
    {% endif %}
    <meta property="og:image" content="{{BASE_URL}}{{url_for('static', filename=social_image)}}">
    {% if this_user %}
    <meta property="og:type" content="profile:{{this_user.username}}">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}

    <!-- Twitter Embed Metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@maxcompulsion">
    {% if molt %}
    <meta name="twitter:creator" content="@{{molt.author.username}}">
    {% endif %}

    <!-- Mobile web app -->
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='img/icon.jpg')}}">
    <link rel="apple-touch-startup-image" href="{{url_for('static', filename='img/launch.png')}}">
    <meta name="apple-mobile-web-app-title" content="Crabber">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="frame-src youtube-nocookie.com www.youtube-nocookie.com giphy.com;" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color_overrides.css') }}?version={{server_start}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities-style.css') }}?version={{server_start}}">

    <meta name="last-refresh" content="{{TIMESTAMP}}">
    {% block ext_head %}{% endblock %}
    {% endblock %}
</head>

<body>
    <div id="cities-header">
        <h1>CrabberCities</h1>
        <ul id="navbar">
            <li>
                <a href="/">
                    Home
                </a>
            </li>

            <li>
                <a href="/edit">
                    Edit
                </a>
            </li>

            <li>
                <a href="/me">
                    My page
                </a>
            </li>
        </ul>
    </div>
    <div id="body-container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
