{% import "macros.jinja" as macros %}

{% if full_size_media %}
    <div class="large-molt-media-container mb-2 border border-dark rounded-media zindex-front" style="cursor: pointer;"
        {{macros.expand_img()}}>
        <img class="w-100 rounded-media" src="{{link}}" alt="Attached image">
    </div>
{% else %}
    <div class="mini-molt-media-container mb-2 border border-dark rounded-media zindex-front" style="cursor: pointer;"
        {{macros.expand_img()}}>
        <!-- <div class="aspect-ratio-child">
            <div class="mini-molt-crop-square">
                <img class="w-100 rounded-media" src="{{link}}" alt="Attached image">
            </div>
        </div> -->
        <img src="{{link}}" class="mini-molt-media-img" />

    </div>
{% endif %}
