{% if full_size_media %}
    <div class="large-molt-media-container mb-2 border border-dark rounded-media zindex-front" style="cursor: pointer;"
        onclick="expandImage($(this).find('img, div').attr('src'))">
        <img class="w-100 rounded-media" src="{{link}}" alt="Attached image">
    </div>
{% else %}
    <div class="mini-molt-media-container mb-2 border border-dark rounded-media zindex-front" style="cursor: pointer;"
        onclick="expandImage($(this).find('img, div.mini-molt-media-img').attr('src'))">
        <!-- <div class="aspect-ratio-child">
            <div class="mini-molt-crop-square">
                <img class="w-100 rounded-media" src="{{link}}" alt="Attached image">
            </div>
        </div> -->
        <div src="{{link}}" style="background-image: url('{{link}}');" class="mini-molt-media-img"></div>

    </div>
{% endif %}
