{% macro sprite(name, size, class) %}
<svg class="{{class}}" width="{{size}}" height="{{size}}" data-jam="{{name}}">
    <use href="{{sprite_url}}?version={{server_start}}#{{name}}"></use>
</svg>
{% endmacro %}

{% set show_buttons = (current_user or static) and not hide_buttons %}

{% set is_remolt = molt.is_remolt %}
{% if is_remolt %}
    {% set remolt_shell = molt %}
    <!-- TODO: Function to fetch new molt when necessary (as namedtuple) -->
    {% set molt = molt %}
{% endif %}

<!-- Fast-Molt -->
<div class="regular-molt mini-molt border-dark py-2 d-flex flex-row absolute-container
            {{'is-remolt' if molt.is_remolt}}
            {{'border-bottom' if not hide_border}}
            {{'px-3' if not is_in_quote}} {{'mb-2' if show_replies}}
           "
>
    <!-- Deleted or unavailable indicator -->
    {% if false and molt.deleted or is_unavailable %}
        <div
            {% if is_parent %}
                class="border-bottom border-dark w-100"
            {% endif %}
        >
            <p class="text-muted text-center">
                {% if molt.deleted %}
                    This Molt has been deleted.
                {% elif is_unavailable %}
                    This Molt is no longer available.
                {% endif %}
            </p>
        </div>
    {% else %}
        <!-- Profile box -->
        <div class="mini-molt-profile-box
                    {{"d-none" if is_in_quote}}
                    {{"avatar-indent" if (molt.is_remolt or (molt.is_reply and not thread))}}
                    {{'mt-4' if is_pin}}
                    "
        >
            <!-- Avatar link -->
            <a  class="zindex-front"
                {% if not static %}
                    href="/user/{{molt.author.username}}"
                {% endif %}
            >
                <!-- Avatar image -->
                <img class="rounded-circle px43 profile-picture" src="{{molt.author.avatar}}" />
            </a>

            <!-- Thread connector line -->
            {% if is_parent %}
                <div class="thread-connector">
                    <div class="thread-line"></div>
                </div>
            {% endif %}
        </div>

        <!-- Indicator box -->
        <div class="mini-molt-text-box w-100 h-100 px-2">
            <!-- Raw molt content -->
            <meta id="molt-content-{{molt.id}}" data-content="{{molt.content}}">

            <!-- Pin icon -->
            {% if is_pin %}
                <p class="text-muted zindex-front mb-2">
                    {{ sprite("pin-f", size=12, class="mini-molt-action-icon remolt-icon") }}
                    Pinned Molt
                </p>
            {% endif %}

            <!-- Remolt/reply icons -->
            {% if not is_in_quote and (molt.is_remolt or (molt.is_reply and not thread))%}
                <small class="mini-molt-remolt text-muted zindex-front">
                    {% if molt.is_remolt %}
                        {{ sprite("repeat", size=12, class="mini-molt-action-icon remolt-icon") }}
                    {% elif molt.is_reply and not thread %}
                        {{ sprite("message", size=12, class="mini-molt-action-icon remolt-icon") }}
                    {% endif %}
                </small>
            {% endif %}


            <!-- Author credentials -->
            <div class="mini-molt-credentials absolute-container
                        {{'row mx-0' if is_in_quote}}
                        {{"mt-1" if (molt.is_remolt or molt.is_reply or is_pin) and not thread else ""}}
                       "
            >
                <!-- Smaller in-quote avatar -->
                {% if is_in_quote %}
                    <a class="zindex-front d-inline-block"
                        {% if not static %}
                           href="/user/{{molt.author.username}}"
                        {% endif %}
                    >
                        <div class="rounded-circle px20 profile-picture"
                             style="background-image: url('{{molt.author.avatar}}');">
                        </div>
                    </a>
                {% endif %}

                <!-- Author text credentials -->
                <div class="mini-molt-credentials-text
                            {{'col pl-2' if is_in_quote}}
                            "
                >
                    <!-- Display name -->
                    <a class="mini-molt-display-name zindex-front"
                        {% if not static %}
                            href="/user/{{molt.author.username}}"
                        {% endif %}
                    >
                        {{molt.author.display_name}}
                    </a>

                    <!-- Verified badge -->
                    {% if molt.author.verified %}
                        <a title="This user is verified" class="zindex-front">
                            {{macros.verified(17)}}
                        </a>
                    {% endif %}

                    <!-- Username -->
                    <span class="mini-molt-username zindex-front">
                        @{{molt.author.username}}
                    </span>

                    <!-- Molt age -->
                    <span class="mini-molt-timestamp zindex-front">
                        · {{molt.timestamp | pretty_age}}
                    </span>

                    <!-- Thread badge -->
                    {% if molt.is_thread %}
                        {% include 'thread-badge.html' %}
                    {% endif %}

                    <!-- NSFW Badge -->
                    {% if molt.nsfw %}
                        {% include 'nsfw-badge.html' %}
                    {% endif %}
                </div>
            </div>

            <!-- Molt content -->
            <div class="mini-molt-content">
                <!-- Rich content -->
                {% if molt.content %}
                    <p class="mb-2">
                    <span class="zindex-front {{'clickable' if not static}}"
                          {% if not static %}
                              onclick="moltLink('{{molt.author.username}}', {{molt.id}});"
                          {% endif %}
                    >
                        {{molt.content | rich_content(nsfw=molt.nsfw, card=molt.card) | safe}}
                    </span>
                {% endif %}

                <!-- Attached image -->
                {% if molt.image %}
                    <div class="mini-molt-media-container mb-2 border border-dark rounded-media zindex-front"
                         {{macros.expand_img()}}
                    >
                        <img class="mini-molt-media-img
                                    {{'nsfw-thumbnail' if molt.nsfw}}
                                   "
                             src="{{molt.image}}" alt="{{molt.image | alt_text}}"
                        >
                        <!-- NSFW thumbnail overlay -->
                        {% if molt.nsfw %}
                            <strong class="nsfw-thumbnail-warning">
                                NSFW
                            </strong>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <!-- Quoted Molt preview -->
            {% if molt.is_quote and not is_in_quote %}
                <div class="quoted-molt rounded-media mb-2 zindex-front">
                    TODO!
                </div>
            {% endif %}

            <!-- Molt buttons -->
            {% if show_buttons %}
                {% include 'fast-molt-buttons.html' %}
            {% endif %} <!-- if show_buttons -->
        </div> <!-- .mini-molt-text-box -->
    {% endif %} <!-- if deleted or unavailable -->

    <!-- Molt page link -->
    {% if not static %}
        <a href="/user/{{molt.author.username}}/status/{{molt.id}}"
           class="absolute-fill"
           draggable="false">
        </a>
    {% endif %}
</div>
