{% extends "base.html" %}
{% block title %}{{this_user.display_name}}'s following{% endblock %}
{% block heading %}
    <div class="row">
        <div class="col-2 col-lg-1 clickable" onclick="location.href='/user/{{this_user.username}}'">
            <span class="text-primary heading-back-arrow" data-width="24" data-height="24" data-jam="arrow-left"></span>
        </div>
        <div class="col px-0">
            {{this_user.display_name}}<br><small class="text-muted">@{{this_user.username}}</small>
        </div>
    </div>
{% endblock %}

{% block body %}
<!-- Profile bio box -->
<div class="profile-box border-bottom border-dark">
    <div class="row mx-0">
        <div id="followers-btn" class="profile-box-category mt-2 text-primary col {{"active" if tab == "followers" else ""}}" onclick="location.href='./followers';">
            <div class="py-2"><strong class="d-inline-block w-100 text-center">Followers</strong></div>
        </div>
        <div id="following-btn" class="profile-box-category mt-2 text-primary col {{"active" if tab == "following" else ""}}" onclick="location.href='./following';">
            <div class="py-2"><strong class="d-inline-block w-100 text-center">Following</strong></div>
        </div>
    </div>
</div>

{% if tab == "followers" %}
<!-- All molts live here! -->
<div id="followers">
    {% for crab in followx %}
        {% include "mini_bio.html" %}
    {% else %}
        <div class="d-inline-block w-100 p-5 text-muted text-molt text-center">This user doesn't have any followers 😢</div>
    {% endfor %}
</div>
{% elif tab == "following" %}
<!-- All likes live here! -->
<div id="following">
    {% for crab in followx %}
        {% include "mini_bio.html" %}
    {% else %}
        <div class="d-inline-block w-100 p-5 text-muted text-molt text-center">This user doesn't follow anyone</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}