<form action="/">
    <p class="mt-2 text-muted">You're viewing a stripped down version of this page. Log in to use the full site.</p>
    <button type="button" class="btn btn-secondary rounded-pill w-md-75 mt-lg-4" id="molt-btn"
        onclick="location.href='/login'">
        <strong class="">Log in</strong>
    </button>

    <button type="button" class="btn btn-primary rounded-pill w-md-75 mt-lg-2" id="molt-btn"
        onclick="location.href='/signup'">
        <strong class="">Join Crabber</strong>
    </button>
</form>