{% import "macros.jinja" as macros %}

{% set is_remolt = molt.is_remolt %}
{% if is_remolt %}
    {% set remolt_shell = molt %}
    {% set molt = molt.original_molt %}
{% endif %}
<div class="mini-molt border-bottom border-dark px-3 pt-3 pb-0 absolute-container">
    <div class="row mb-3">
        <div class="mini-molt-profile-box {{"mt-4" if (is_remolt or molt.is_reply) and not thread else ""}} pr-1 col-auto">
            <a href="/user/{{molt.author.username}}" class="zindex-front">
                <div class="rounded-circle px43 profile-picture" style="background-image: url('{{url_for('static', filename=molt.author.avatar)}}');"></div>
            </a>
        </div>
        <div class="mini-molt-text-box w-100 px-2 col">
            <meta id="molt-content-{{molt.id}}" data-content="{{molt.content}}">

            {% if is_remolt %}
            <!-- Remolt indicator -->
            <small class="mini-molt-remolt text-muted zindex-front">

                <svg class="mini-molt-action-icon remolt-icon" width="12" height="12" data-jam="repeat">
                    <use href="{{url_for('static', filename='img/sprites.svg')}}#repeat"></use>
                </svg>
                <a href="/user/{{remolt_shell.author.username}}">{{remolt_shell.author.display_name}}</a> Remolted</small>
            {% endif %}
            {% if molt.is_reply and not thread %}
            <!-- Reply indicator -->
            <small class="mini-molt-remolt text-muted zindex-front">

                <svg class="mini-molt-action-icon remolt-icon" width="12" height="12" data-jam="message">
                    <use href="{{url_for('static', filename='img/sprites.svg')}}#message"></use>
                </svg>
                replying to<a href="/user/{{molt.original_molt.author.username}}/status/{{molt.original_molt.id}}">
                    {{"your" if molt.original_molt.author == current_user else molt.original_molt.author.display_name + "'s"}}
                    molt</a></small>
            {% endif %}
            <div class="mini-molt-credentials zindex-front {{"mt-1" if (is_remolt or molt.is_reply) and not thread else ""}}"><a href="/user/{{molt.author.username}}"
                    class="mini-molt-display-name">{{molt.author.display_name}}</a>
                {% if molt.author.verified %}
                <a title="Verified user">{{macros.verified(17)}}</a>
                {% endif %}<br>
                <span class="mini-molt-username">@{{molt.author.username}}</span>
            </div>
        </div>
    </div>
    <div>
        <div class="mini-molt-content large-molt-text">
            <!-- Don't worry, I already sanitized the text, this is just to preserve line breaks and other styling -->
            <!-- End-users won't have any idea what this comment is referring to :) -->
            <p class="mb-2"><span class="zindex-front not-clickable">{{molt.rich_content(full_size_media=True)|safe}}</span></p>

            {% if molt.image %}
            <div class="large-molt-media-container mb-2 border border-dark rounded-media zindex-front" {{macros.expand_img()}}>
                <img class="w-100 rounded-media" src="{{url_for('static', filename=molt.image)}}" alt="Attached image">
            </div>
            {% endif %}
        </div>
        <div class="w-100 pb-2 pt-1 text-muted border-bottom border-dark">
            <!-- 11:30 AM · Apr 9, 2020 -->
            {{localize(molt.timestamp).strftime("%#I:%M %p · %b %e, %Y") if IS_WINDOWS else localize(molt.timestamp).strftime("%-I:%M %p · %b %e, %Y")}}
            {% if molt.source %}
                · {{molt.source}}
            {% endif %}
            {% if molt.edited %}
            &mdash; This molt has been edited
            {% endif %}
        </div>
        <div class="mini-molt-actions d-flex flex-row border-dark border-bottom justify-content-start w-100 py-2 mb-0">
            <a href="javascript:void(0);" class="text-muted mr-3" onclick="toggleModal('#molt_remolts_modal');">
                <span class="text-light font-weight-bold">{{molt.true_remolts|length}}</span> Remolt{{'' if (molt.true_remolts|length) == 1 else 's'}}</a>
            <a href="javascript:void(0);" class="text-muted mr-3" onclick="toggleModal('#molt_likes_modal');">
                <span id="likes-number" class="text-light font-weight-bold">{{molt.true_likes|length}}</span>
                <span id="likes-text">Like{{'' if (molt.true_likes|length) == 1 else 's'}}</span>
            </a>
        </div>

        {% if current_user %}
        <div class="mini-molt-actions d-flex flex-row border-dark justify-content-around w-100 py-2 px-4 mb-0">
            {% if molt.author == current_user and molt.editable %}
            <!-- EDIT BUTTON -->
            <form>
                <input type="hidden" name="user_action" value="reply_molt">
                <input type="hidden" name="molt_id" value="{{molt.id}}">
                <div class="mini-molt-action edit rounded-circle zindex-front"
                    onclick="prepareEdit('{{molt.id}}');">

                    <svg class="mini-molt-action-icon" width="16" height="16" data-jam="pencil">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}#pencil"></use>
                    </svg>
                </div>
            </form>
            {% endif %}
            <!-- REPLY BUTTON -->
            <form>
                <input type="hidden" name="user_action" value="reply_molt">
                <input type="hidden" name="molt_id" value="{{molt.id}}">
                <div class="mini-molt-action reply rounded-circle zindex-front"
                    onclick="prepareReply('{{molt.id}}', '{{molt.author.username}}', '{{molt.author.display_name}}');">

                    <svg class="mini-molt-action-icon" width="20" height="20" data-jam="message">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}#message"></use>
                    </svg>
                </div>
            </form>
            <!-- REMOLT BUTTON -->
            <form method="POST">
                {% set has_remolted = current_user.has_remolted(molt) %}
                {% if has_remolted %}
                <input type="hidden" name="user_action" value="delete_molt">
                <input type="hidden" name="molt_id" value="{{has_remolted.id}}">
                {% else %}
                <input type="hidden" name="user_action" value="remolt_molt">
                <input type="hidden" name="molt_id" value="{{molt.id}}">
                {% endif %}
                <div class="mini-molt-action remolt zindex-front {{"active-remolt" if has_remolted else ""}}"
                    {% if has_remolted %}
                        onClick="if (confirm('Are you sure you want to un-remolt this?')) {
                        this.parentNode.submit();$(this).parents('div.mini-molt').remove();}"
                    {% else %}
                        onClick="javascript:if (confirm('Remolt this?')) {this.parentNode.submit();}"
                    {% endif %}>

                    <svg class="mini-molt-action-icon" width="20" height="20" data-jam="repeat">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}#repeat"></use>
                    </svg>
                </div>
            </form>
            <!-- LIKE BUTTON -->
            <form method="POST">
                <input type="hidden" name="user_action" value="like_molt">
                <input type="hidden" name="molt_id" value="{{molt.id}}">
                <div class="mini-molt-action like zindex-front" onClick="SubForm(this.parentNode);toggleLike(this);">

                    <svg class="mini-molt-action-icon {{"d-none" if current_user.has_liked(molt) else ""}}" width="20" height="20" data-jam="heart">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}#heart"></use>
                    </svg>

                    <svg class="mini-molt-action-icon text-primary {{"d-none" if not current_user.has_liked(molt) else ""}}" width="20" height="20" data-jam="heart-f">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}#heart-f"></use>
                    </svg>
                </div>
            </form>
            <!-- DROPDOWN BUTTON -->
            <div class="dropdown">
                <span class="zindex-front mini-molt-action reply" href="#" role="button" id="dropdownMenuLink"
                    onclick="toggleDropdown(this);" aria-haspopup="true" aria-expanded="false">

                    <svg class="mini-molt-action-icon" width="16" height="16" data-jam="more-horizontal">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}#more-horizontal"></use>
                    </svg>
                </span>
                {% if current_user %}
                    <div class="neue-card molt-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <!-- DELETE BUTTON -->
                        {% if molt.author == current_user %}
                            <form class="dropdown-item clickable" method="POST">
                                <input type="hidden" name="user_action" value="delete_molt">
                                <input type="hidden" name="molt_id" value="{{molt.id}}">
                                <div onClick="if (confirm('Are you sure you want to delete this Molt? (Cannot be undone)')) {
                                    this.parentNode.submit();$(this).parents('div.mini-molt').remove();}">

                                    <svg width="16" height="16" data-jam="trash">
                                        <use href="{{url_for('static', filename='img/sprites.svg')}}#trash"></use>
                                    </svg>
                                    Delete Molt
                                </div>
                            </form>
                        <!-- REMOLT DELETE BUTTON -->
                        {% elif is_remolt and remolt_shell.author.id == current_user.id %}
                            <form class="dropdown-item clickable" method="POST">
                                <input type="hidden" name="user_action" value="delete_molt">
                                <input type="hidden" name="molt_id" value="{{remolt_shell.id}}">
                                <div onClick="if (confirm('Are you sure you want to delete this Molt? (Cannot be undone)')) {
                                    this.parentNode.submit();$(this).parents('div.mini-molt').remove();}">

                                    <svg width="16" height="16" data-jam="trash">
                                        <use href="{{url_for('static', filename='img/sprites.svg')}}#trash"></use>
                                    </svg>
                                    Delete Re-Molt
                                </div>
                            </form>
                        {% endif %}
                        <!-- REPORT MOLT BUTTON -->
                        {% if molt.author != current_user %}
                            <form class="dropdown-item clickable" method="POST">
                                <input type="hidden" name="user_action" value="report_molt">
                                <input type="hidden" name="molt_id" value="{{molt.id}}">
                                <div onClick="if (confirm('Are you sure you want to report this Molt?')) {
                                    SubForm(this.parentNode);replaceMolt(this, 'You have reported this Molt.');}">

                                    <svg width="16" height="16" data-jam="flag">
                                        <use href="{{url_for('static', filename='img/sprites.svg')}}#flag"></use>
                                    </svg>
                                    Report Molt
                                </div>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Remolts popup -->
<div class="modal fade" id="molt_remolts_modal" tabindex="-1" role="dialog" aria-labelledby="moltRemoltsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header py-2 border-dark modal-left-align">
                <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Remolted by</strong>
            </div>
            <div class="modal-body row m-1 w-100 d-block">
                {% for remolt in molt.true_remolts %}
                    {% with crab = remolt.author, hide_border=loop.last %}
                        {% include "mini_bio.html" %}
                    {% endwith %}
                {% else %}
                    <span class="text-muted">No one has remolted this</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Likes popup -->
<div class="modal fade" id="molt_likes_modal" tabindex="-1" role="dialog" aria-labelledby="moltLikesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header py-2 border-dark modal-left-align">
                <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Liked by</strong>
            </div>
            <div class="modal-body row m-1 w-100 d-block">
                {% for like in molt.true_likes %}
                    {% with crab = like.crab, hide_border=loop.last %}
                        {% include "mini_bio.html" %}
                    {% endwith %}
                {% else %}
                    <span class="text-muted">No one has liked this 💔</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
