<div class="mini-compose-box border-bottom border-dark p-2 d-flex flex-row">
    <div class="mini-molt-profile-box">
        <a href="/user/{{current_user.username}}">
            <div class="rounded-circle px43 profile-picture" style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"
            src="{{url_for('static', filename=current_user.avatar)}}"></div>
        </a>
    </div>
    <div class="mini-molt-text-box w-100 h-100 px-2">
        <form method="POST" enctype="multipart/form-data">
            <div class="mini-compose-textarea">
                <textarea name="molt_content" maxlength="{{MOLT_CHAR_LIMIT}}" rows="5" class="my-2 w-100"
                    placeholder="How are you feeling?" onfocus="$(this).parents('.mini-compose-box').addClass('focused')" required></textarea>
            </div>
            <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">
                
                <!-- Image picker -->
                <div class="file-input input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile03" name="molt-media"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile03">
                            <span class="file-btn" data-width="28" data-height="28" data-jam="picture"></span>
                        </label>
                    </div>
                </div>

                <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                <input type="hidden" name="user_action" value="submit_molt">
                <button type="submit" class="btn btn-primary rounded-pill"><strong>Molt</strong></button>
            </div>
        </form>
    </div>
</div>