{% extends 'base.html' %}
{% block title %}
    Moderation Panel
{% endblock %}

{% block heading %}
    Moderation Panel
{% endblock %}

{% block body %}
    <form class="m-2">
        <h5>
            Go to specific user
        </h5>
        <input type="text" name="username" placeholder="username"
               autocomplete="off" required>
        <button type="submit" name="viewing" value="user">
            Go
        </button>
    </form>

    <form class="m-2">
        <h5>
            Go to specific molt
        </h5>
        <input type="text" name="molt_id" placeholder="molt ID"
               autocomplete="off" required>
        <button type="submit" name="viewing" value="molt">
            Go
        </button>
    </form>

    <form class="m-2">
        <h5>
            Other views
        </h5>
        <button type="submit" name="viewing" value="queue">
            Moderation queue
        </button>
        <button type="submit" name="viewing" value="logs">
            Moderation logs
        </button>
    </form>
{% endblock %}
