{% extends 'moderation-view.html' %}
{% block moderation_heading %}
    Molt: #{{molt.id}}
{% endblock %}
{% block moderation_content %}
    {% if molt %}
        <form method="POST" target="_blank">
            <input type="hidden" name="crab_id" value="{{molt.author_id}}">
            <input type="hidden" name="molt_id" value="{{molt.id}}">

            <p class="p-2 border-bottom border-dark">
                {% include 'moderation-status-molt.html' %}
            </p>
            <div class="border-bottom border-dark">
                {% with static=True, hide_buttons=True, hide_border=True,
                   always_show=True
                %}
                    {% include 'molt.html' %}
                {% endwith %}
            </div>
            <div class="p-2">
                <a href="/user/{{molt.author.username}}/status/{{molt.id}}" target="_blank">
                    View Molt in new tab
                </a>
                <br>
                <div class="mod-buttons mt-2">
                    {% include 'moderation-buttons-molt.html' %}
                    {% with crab = molt.author %}
                        {% include 'moderation-buttons-crab.html' %}
                    {% endwith %}
                </div>
            </div>
        </form>
    {% else %}
        Molt not found.
    {% endif %}
{% endblock %}
