{% extends "base.html" %}
{% block title %} Molt Thread {% endblock %}
{% block heading %} Thread {% endblock %}

{% block body %}
    {% if molt.deleted %}
        <div class="d-inline-block w-100 p-5 text-muted text-molt text-center">This molt has been deleted</div>
    {% else %}
        {% include "large_molt.html" %}

        <!-- All molts live here! -->
        {% for molt in replies %}
            {% include "molt.html" %}
        {% else %}
            <div class="d-inline-block w-100 p-5 text-muted text-molt text-center">This molt has no replies</div>
        {% endfor %}
        <div class="d-inline-block w-100 p-5 my-5 text-muted text-molt text-center"></div>
    {% endif %}
{% endblock %}