{% extends "base.html" %}
{% block title %} Molt Thread {% endblock %}
{% block heading %} Thread {% endblock %}

{% block body %}
    {% if molt.deleted %}
        <div class="d-inline-block w-100 p-5 text-muted text-molt text-center">This molt has been deleted</div>
    {% else %}
        {% if molt.is_reply %}
            <div class="mt-2">
                {% with molt=molt.original_molt, thread=true, is_parent=true, hide_border=true %}
                    {% include "molt.html" %}
                {% endwith %}
            </div>
        {% endif %}

        {% with thread=true %}
            {% include "large_molt.html" %}
        {% endwith %}

        <!-- All molts live here! -->
        {% for reply in replies %}
            {% with molt=reply, thread=true, show_replies_from=molt.author %}
                {% include "molt.html" %}
            {% endwith %}
        {% else %}
            <div class="d-inline-block w-100 p-5 text-muted text-molt text-center">This molt has no replies</div>
        {% endfor %}
        <div class="d-inline-block w-100 p-5 my-5 text-muted text-molt text-center"></div>
    {% endif %}
{% endblock %}