<div class="notif mini-molt border-bottom border-dark p-2 d-flex flex-row absolute-container {{'' if notif.read else 'notif-unread'}}"
    {% if notif.type == 'trophy' %}
        onclick="location.href='/user/{{current_user.username}}?tab=trophies'"
    {% elif notif.type == 'other' %}
        onclick="location.href='{{notif.link}}'"
    {% endif %}>
    <div class="notif-age">
        <span class="mini-molt-timestamp absolute-right mr-3"><a href="javascript:void(0)" title="{{notif.pretty_date}}">{{notif.pretty_age}}</a></span>
    </div>
    <div class="notif-indent ml-5 mr-2 w-100">
        <div class="notif-icon-row">
            {% if notif.type == "other" %}
                <span class="notif-icon notif-other" data-width="26" data-height="26" data-jam="bell-f"></span>
            {% elif notif.type == "trophy" %}
                <span class="notif-icon notif-trophy" data-width="26" data-height="26" data-jam="medal-f"></span>
            {% elif notif.type == "mention" %}
                <span class="notif-icon notif-mention" data-width="26" data-height="26" data-jam="message-writing-f"></span>
            {% elif notif.type == "like" %}
                <span class="notif-icon notif-like" data-width="26" data-height="26" data-jam="heart-f"></span>
            {% elif notif.type == "reply" %}
                <span class="notif-icon notif-reply" data-width="26" data-height="26" data-jam="message-f"></span>
            {% elif notif.type == "remolt" %}
                <span class="notif-icon notif-remolt" data-width="26" data-height="26" data-jam="repeat"></span>
            {% elif notif.type == "follow" %}
                <span class="notif-icon notif-follow" data-width="26" data-height="26" data-jam="plus"></span>
            {% elif notif.type == "unfollow" %}
                <span class="notif-icon notif-unfollow" data-width="26" data-height="26" data-jam="skull-f"></span>
            {% endif %}
            {% if notif.type != "other" and notif.type != "trophy" %}
                <a href="/user/{{notif.sender.username}}" class="zindex-front">
                    <div class="rounded-circle px26 notif-unfollow profile-picture" style="background-image: url('{{url_for('static', filename=notif.sender.avatar)}}');"></div>
                </a>
            {% endif %}
        </div>
        <div class="notif-header-row {{'mt-2' if notif.type != 'other' and notif.type != 'trophy' else 'mt-1'}}">
            {% if notif.type == "other" %}
                {{notif.content}}
            {% elif notif.type == "trophy" %}
                You earned the trophy: <strong>{{notif.content}}</strong>!
            {% elif notif.type == "mention" %}
                <strong><a href="/user/{{notif.sender.username}}" class="text-light">{{notif.sender.display_name}}</a></strong>
                mentioned you in a Molt

                <div class="mt-2">
                    {% with molt=notif.molt %}
                        {% include "tiny_molt.html" %}
                    {% endwith %}
                </div>
            {% else %}
                <strong><a href="/user/{{notif.sender.username}}" class="text-light">{{notif.sender.display_name}}</a></strong>
                {% if notif.type == "follow" %}
                    followed you
                {% elif notif.type =="unfollow" %}
                    un-followed you
                {% else %}
                    {% if notif.type == "like" %} liked
                    {% elif notif.type == "reply" %} replied to
                    {% elif notif.type == "remolt" %} remolted
                    {% endif%}
                    your Molt

                    <div class="mt-2">
                        {% with molt=notif.molt %}
                            {% include "tiny_molt.html" %}
                        {% endwith %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>