<div class="notif mini-molt border-bottom border-dark p-2 d-flex flex-row absolute-container">
    <div class="notif-age">
        <span class="mini-molt-timestamp absolute-right mr-3"><a href="javascript:void(0)" title="{{notif.pretty_date}}">{{notif.pretty_age}}</a></span>
    </div>
    <div class="notif-indent ml-5">
        <div class="notif-icon-row">
            {% if notif.type == "other" %}
                <span class="notif-icon notif-other" data-width="26" data-height="26" data-jam="bell-f"></span>
            {% elif notif.type == "mention" %}
                <span class="notif-icon notif-mention" data-width="26" data-height="26" data-jam="message-writing-f"></span>
            {% elif notif.type == "like" %}
                <span class="notif-icon notif-like" data-width="26" data-height="26" data-jam="heart-f"></span>
            {% elif notif.type == "reply" %}
                <span class="notif-icon notif-reply" data-width="26" data-height="26" data-jam="message-f"></span>
            {% elif notif.type == "remolt" %}
                <span class="notif-icon notif-remolt" data-width="26" data-height="26" data-jam="repeat"></span>
            {% elif notif.type == "follow" %}
                <span class="notif-icon notif-follow" data-width="26" data-height="26" data-jam="plus"></span>
            {% elif notif.type == "unfollow" %}
                <span class="notif-icon notif-unfollow" data-width="26" data-height="26" data-jam="skull-f"></span>
            {% endif %}
            <a href="/user/{{notif.sender.username}}" class="zindex-front">
                <img class="rounded-circle notif-unfollow" src="{{url_for('static', filename=notif.sender.avatar)}}" alt="Profile picture" width="26" height="26">
            </a>
        </div>
        <div class="notif-header-row mt-2">
            {% if notif.type == "other" %}
                {{notif.content}}
            {% elif notif.type == "mention" %}
                <strong><a href="" class="text-light">{{notif.sender.display_name}}</a></strong>
                mentioned you in a Molt

                <div class="mt-2">
                    {% with molt=notif.molt %}
                        {% include "tiny_molt.html" %}
                    {% endwith %}
                </div>
            {% else %}
                <strong><a href="" class="text-light">{{notif.sender.display_name}}</a></strong>
                {% if notif.type == "follow" %}
                    followed you
                {% elif notif.type =="unfollow" %}
                    un-followed you
                {% else %}
                    {% if notif.type == "like" %} liked
                    {% elif notif.type == "reply" %} replied to
                    {% elif notif.type == "remolt" %} remolted
                    {% endif%}
                    your Molt

                    <div class="mt-2">
                        {% with molt=notif.molt %}
                            {% include "tiny_molt.html" %}
                        {% endwith %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <!-- <div class="mini-molt-text-box w-100 h-100 px-2">
            bleh
        </div> -->
    </div>
</div>