<div class="p-2 w-100 no-h-scroll">
    <h2 class="mb-3">Bio</h2>
    <form method="POST" enctype="multipart/form-data" class="p-2">
        <input type="hidden" name="user_action" value="update_description" autofocus>
        <input type="hidden" name="page" value="settings">
        <input type="hidden" name="user_id" value="{{current_user.id}}">

        <!-- Display name -->
        <div class="form-group cool-input">
            <label for="displayName">Display name</label>
            <input type="text" name="display_name" class="form-control" id="displayName" oninput="validateField(this, 'display_name', false)"
                placeholder="Bob 'Snake' Plissken" value="{{current_user.display_name}}" required aria-required>
        </div>

        <!-- Description -->
        <div class="form-group cool-input">
            <label for="description">About me</label>
            <textarea type="text" name="description" class="bg-dark form-control text-light" id="description" placeholder="I'm too tired, maybe later."
            required aria-required oninput="validateDescription()">{{current_user.description.strip()}}</textarea>
        </div>

        <!-- Location -->
        <div class="form-group cool-input">
            <label for="location">Location <span class="text-muted">(optional)</span></label>
            <input type="text" name="location" class="form-control" id="location" oninput="validateField(this, 'location', false)"
                placeholder="Planet Earth, The Solar System" value="{{current_user.location if current_user.location else ""}}">
        </div>

        <!-- Website -->
        <div class="form-group cool-input">
            <label for="website">Website <span class="text-muted">(optional)</span></label>
            <input type="text" name="website" class="form-control" id="website" oninput="validateField(this, 'website', false)"
                placeholder="https://onlycrabs.com/bigred" value="{{current_user.website if current_user.website else ""}}">
        </div>

        <!-- Theme Song -->
        <div class="form-group cool-input mb-2">
            <label for="website">
                Theme song
                <span class="text-muted">
                    (optional)
                </span>
                <br>
                <small class="text-muted">
                    A small midi file that can be played from your profile.
                </small>
            </label>
            <script>
                function deleteThemeSong(elem) {
                    let preview = document.getElementById('theme-song-preview');
                    let form = preview.closest('form');
                    let el = document.createElement('input');
                    el.type = 'hidden';
                    el.name = 'delete_theme_song';
                    el.value = 'true';
                    form.appendChild(el);
                    form.submit();
                }
                function uploadThemeSong(elem) {
                    let fileInput = document.getElementById('theme-song-file');
                    let form = fileInput.closest('form');
                    form.submit();
                }
            </script>
            {% if current_user.theme_song %}
                <div id="theme-song-preview">
                    <div class="text-muted">
                        Currently set to:
                    </div>
                    {% with src = current_user.theme_song %}
                        {% include 'crab-midi.html' %}
                    {% endwith %}
                    <small class="text-muted">
                        <a href="javascript:deleteThemeSong(this);"
                           class="text-inherit">
                            click here to delete
                        </a>
                    </small>
                </div>
            {% else %}
                <div id="theme-song-file" class="input-group cool-input settings-file-select">
                    <input id="theme-song" name="theme-song"
                           class="text-muted file-input form-control" type="file"
                           accept="audio/midi" value="{{current_user.theme_song}}"
                    >
                </div>
                <small class="text-muted">
                    <a href="javascript:uploadThemeSong(this);"
                       class="text-inherit">
                        click here to upload
                    </a>
                </small>
            {% endif %}
        </div>

        <!-- Bio -->
        <label>
            Fun facts
            <span class="text-muted">
                (optional)
            </span>
            <br>
            <small class="text-muted">
                Tell people about yourself!
            </small>
        </label>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.age">Age</label>
            </div>
            <input type="text" name="bio.age" id="bio.age" class="bg-dark form-control text-light" placeholder="e.g. 42" oninput="validateField(this, 'age', true)"
                {% if current_user.bio.get("age", "?") != "?" %}value="{{current_user.bio.get("age")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.pronouns">Pronouns</label>
            </div>
            <input type="text" name="bio.pronouns" id="bio.pronouns" class="bg-dark form-control text-light" placeholder="e.g. they/them" oninput="validateField(this, 'pronouns', true)"
                {% if current_user.bio.get("pronouns", "?") != "?" %}value="{{current_user.bio.get("pronouns")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.quote">Quote</label>
            </div>
            <input type="text" name="bio.quote" id="bio.quote" class="bg-dark form-control text-light" placeholder="e.g. The world is your lobster." oninput="validateField(this, 'quote', true)"
                {% if current_user.bio.get("quote", "?") != "?" %}value="{{current_user.bio.get("quote")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.jam">My jam</label>
            </div>
            <input type="text" name="bio.jam" id="bio.jam" class="bg-dark form-control text-light" placeholder="e.g. Frank Sinatra - My Way" oninput="validateField(this, 'jam', true)"
                {% if current_user.bio.get("jam", "?") != "?" %}value="{{current_user.bio.get("jam")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.obsession">Latest obsession</label>
            </div>
            <input type="text" name="bio.obsession" id="bio.obsession" class="bg-dark form-control text-light" placeholder="e.g. playing with my Tamagotchi" oninput="validateField(this, 'obsession', true)"
                {% if current_user.bio.get("obsession", "?") != "?" %}value="{{current_user.bio.get("obsession")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.remember">Remember when</label>
            </div>
            <input type="text" name="bio.remember" id="bio.remember" class="bg-dark form-control text-light" placeholder="e.g. profile pictures were square?" oninput="validateField(this, 'remember', true)"
                {% if current_user.bio.get("remember", "?") != "?" %}value="{{current_user.bio.get("remember")}}"{% endif %}
                >
        </div>
        <div class="input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.emoji">Favorite emoji</label>
            </div>
            <input type="text" name="bio.emoji" id="bio.emoji" class="bg-dark form-control text-light" placeholder="e.g. 🌵 or ;)" oninput="validateField(this, 'emoji', true)"
                {% if current_user.bio.get("emoji", "?") != "?" %}value="{{current_user.bio.get("emoji")}}"{% endif %}
                >
        </div>

        <!-- Social links -->
        <label class="mt-3">
            Social links
            <span class="text-muted">
                (optional)
            </span>
            <br>
            <small class="text-muted">
                Put your eggs in all the baskets!
            </small>
        </label>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-discord">Discord</label>
            </div>
            <input type="text" name="bio.social-discord" id="bio.social-discord" class="bg-dark form-control text-light" placeholder="username" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_discord.pattern}}"
                {% if current_user.bio.get("social-discord", "?") != "?" %} value="{{current_user.bio.get("social-discord")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-github">GitHub</label>
            </div>
            <input type="text" name="bio.social-github" id="bio.social-github" class="bg-dark form-control text-light" placeholder="username" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_misc.pattern}}"
                {% if current_user.bio.get("social-github", "?") != "?" %} value="{{current_user.bio.get("social-github")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-spacehey">SpaceHey</label>
            </div>
            <input type="text" name="bio.social-spacehey" id="bio.social-spacehey" class="bg-dark form-control text-light" placeholder="profile link" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_spacehey.pattern}}"
                {% if current_user.bio.get("social-spacehey", "?") != "?" %} value="{{current_user.bio.get("social-spacehey")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-spotify">Spotify</label>
            </div>
            <input type="text" name="bio.social-spotify" id="bio.social-spotify" class="bg-dark form-control text-light" placeholder="profile link" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_spotify.pattern}}"
                {% if current_user.bio.get("social-spotify", "?") != "?" %} value="{{current_user.bio.get("social-spotify")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-twitch">Twitch</label>
            </div>
            <input type="text" name="bio.social-twitch" id="bio.social-twitch" class="bg-dark form-control text-light" placeholder="channel link" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_twitch.pattern}}"
                {% if current_user.bio.get("social-twitch", "?") != "?" %} value="{{current_user.bio.get("social-twitch")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-youtube">YouTube</label>
            </div>
            <input type="text" name="bio.social-youtube" id="bio.social-youtube" class="bg-dark form-control text-light" placeholder="channel link" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_youtube.pattern}}"
                {% if current_user.bio.get("social-youtube", "?") != "?" %} value="{{current_user.bio.get("social-youtube")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-steam">Steam</label>
            </div>
            <input type="text" name="bio.social-steam" id="bio.social-steam" class="bg-dark form-control text-light" placeholder="Steam ID" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_misc.pattern}}"
                {% if current_user.bio.get("social-steam", "?") != "?" %} value="{{current_user.bio.get("social-steam")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-xbox">Xbox Live</label>
            </div>
            <input type="text" name="bio.social-xbox" id="bio.social-xbox" class="bg-dark form-control text-light" placeholder="gamertag" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_misc.pattern}}"
                {% if current_user.bio.get("social-xbox", "?") != "?" %} value="{{current_user.bio.get("social-xbox")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-psn">PlayStation Network</label>
            </div>
            <input type="text" name="bio.social-psn" id="bio.social-psn" class="bg-dark form-control text-light" placeholder="PSN ID" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_misc.pattern}}"
                {% if current_user.bio.get("social-psn", "?") != "?" %} value="{{current_user.bio.get("social-psn")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="bio.social-nso">Nintendo Switch Online</label>
            </div>
            <input type="text" name="bio.social-nso" id="bio.social-nso" class="bg-dark form-control text-light" placeholder="friend code" oninput="validateField(this, 'social', true)"
                   data-regex="{{patterns.social_nintendo.pattern}}"
                {% if current_user.bio.get("social-nso", "?") != "?" %} value="{{current_user.bio.get("social-nso")}}"{% endif %}
                >
        </div>

        <!-- Submit button -->
        <button id="bio-save" class="btn btn-primary rounded-pill mt-3 float-right" type="submit"><strong>Save</strong></button>
        <div class="clearfix"></div>
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">Account</h2>
    <form method="POST" class="p-2">
        <input type="hidden" name="user_action" value="update_account">

        <!-- Email address -->
        <div class="form-group cool-input">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Please enter an email address" value="{{current_user.email}}" required aria-required>
        </div>

        <!-- Username -->
        <div class="form-group cool-input">
            <label for="inlineFormInputGroup">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input name="username" type="text" class="form-control" id="inlineFormInputGroup" placeholder="crablover2000"
                       data-regex="{{patterns.username.pattern}}"
                       oninput="validateField(this, 'username', false)"
                       value="{{current_user.username}}" required aria-required>
            </div>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary rounded-pill mt-3 float-right" type="submit"><strong>Save</strong></button>
        <div class="clearfix"></div>
    </form>

    <form method="POST" class="p-2">
        <input type="hidden" name="user_action" value="change_password">
        <h3 class="mb-3">Change password</h3>

        <!-- Old Pass -->
        <div class="form-group cool-input">
            <label for="old-password">Current password</label>
            <input type="password" name="old-password" class="form-control" id="old-password" required aria-required>
        </div>

        <!-- New Pass -->
        <div class="form-group cool-input">
            <label for="new-password">New password</label>
            <input type="password" name="new-password" class="form-control" id="new-password" autocomplete="new-password" required aria-required>
        </div>

        <!-- Confirm pass -->
        <div class="form-group cool-input">
            <label for="confirm-new-password">Confirm new password</label>
            <input type="password" name="confirm-password" class="form-control" id="confirm-new-password" autocomplete="new-password" required aria-required>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary rounded-pill mt-3 float-right" type="submit"><strong>Change Password</strong></button>
        <div class="clearfix"></div>
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">Misc</h2>
    <form method="POST" class="p-2">
        <input type="hidden" name="user_action" value="update_general_settings">

        <!-- Timezone dropdown -->
        <div class="form-group">
            <label for="timezone">Timezone</label>
            <div class="input-group cool-input">
                <select class="custom-select" name="timezone" id="timezone">
                    <option value="-12.00" {{'selected' if current_user.timezone == "-12.00"}}>(GMT -12:00) Eniwetok, Kwajalein</option>
                    <option value="-11.00" {{'selected' if current_user.timezone == "-11.00"}}>(GMT -11:00) Midway Island, Samoa</option>
                    <option value="-10.00" {{'selected' if current_user.timezone == "-10.00"}}>(GMT -10:00) Hawaii</option>
                    <option value="-09.00" {{'selected' if current_user.timezone == "-09.00"}}>(GMT -9:00) Alaska</option>
                    <option value="-08.00" {{'selected' if current_user.timezone == "-08.00"}}>(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                    <option value="-07.00" {{'selected' if current_user.timezone == "-07.00"}}>(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                    <option value="-06.00" {{'selected' if current_user.timezone == "-06.00"}}>(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                    <option value="-05.00" {{'selected' if current_user.timezone == "-05.00"}}>(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                    <option value="-04.00" {{'selected' if current_user.timezone == "-04.00"}}>(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                    <option value="-03.50" {{'selected' if current_user.timezone == "-03.50"}}>(GMT -3:30) Newfoundland</option>
                    <option value="-03.00" {{'selected' if current_user.timezone == "-03.00"}}>(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                    <option value="-02.00" {{'selected' if current_user.timezone == "-02.00"}}>(GMT -2:00) Mid-Atlantic</option>
                    <option value="-01.00" {{'selected' if current_user.timezone == "-01.00"}}>(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                    <option value="00.00" {{'selected' if current_user.timezone == "00.00"}}>(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                    <option value="01.00" {{'selected' if current_user.timezone == "01.00"}}>(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                    <option value="02.00" {{'selected' if current_user.timezone == "02.00"}}>(GMT +2:00) Kaliningrad, South Africa</option>
                    <option value="03.00" {{'selected' if current_user.timezone == "03.00"}}>(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                    <option value="03.50" {{'selected' if current_user.timezone == "03.50"}}>(GMT +3:30) Tehran</option>
                    <option value="04.00" {{'selected' if current_user.timezone == "04.00"}}>(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                    <option value="04.50" {{'selected' if current_user.timezone == "04.50"}}>(GMT +4:30) Kabul</option>
                    <option value="05.00" {{'selected' if current_user.timezone == "05.00"}}>(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                    <option value="05.50" {{'selected' if current_user.timezone == "05.50"}}>(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                    <option value="05.75" {{'selected' if current_user.timezone == "05.75"}}>(GMT +5:45) Kathmandu</option>
                    <option value="06.00" {{'selected' if current_user.timezone == "06.00"}}>(GMT +6:00) Almaty, Dhaka, Colombo</option>
                    <option value="07.00" {{'selected' if current_user.timezone == "07.00"}}>(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                    <option value="08.00" {{'selected' if current_user.timezone == "08.00"}}>(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                    <option value="09.00" {{'selected' if current_user.timezone == "09.00"}}>(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                    <option value="09.50" {{'selected' if current_user.timezone == "09.50"}}>(GMT +9:30) Adelaide, Darwin</option>
                    <option value="10.00" {{'selected' if current_user.timezone == "10.00"}}>(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                    <option value="11.00" {{'selected' if current_user.timezone == "11.00"}}>(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                    <option value="12.00" {{'selected' if current_user.timezone == "12.00"}}>(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                </select>
            </div>
        </div>

        <!-- Last.fm Username -->
        <div class="form-group cool-input">
            <label for="inlineFormInputGroup">Last.fm Username <span class="text-muted">(optional)</span></label>
            <div class="input-group">
                <input name="lastfm" type="text" class="form-control" id="inlineFormInputGroup" placeholder="rock_lobster"
                    value="{{current_user.lastfm if current_user.lastfm}}">
            </div>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary rounded-pill mt-3 float-right" type="submit"><strong>Save</strong></button>
        <div class="clearfix"></div>
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">Content Filtering</h2>
    <form method="POST" class="p-2">
        <input type="hidden" name="user_action" value="update_content_filters">
        <!-- Muted Words -->
        <div class="form-group cool-input">
            <label for="description">Muted words (comma separated)</label>
            <textarea type="text" name="muted_words"
                      class="bg-dark form-control text-light" id="muted-words"
                      placeholder="emacs, lua, twitter"
                      >{{current_user.muted_words_string}}</textarea>
        </div>

        <!-- NSFW Toggle -->
        <div class="form-group cool-input mb-2">
            <script>
                function confirmAge(elem) {
                    if (elem.checked) {
                        elem.checked = confirm('Are you 18 years or older?');
                    }
                    elem.value = elem.checked;
                }
            </script>
            <div class="custom-control custom-switch">
                <input onchange="return confirmAge(this)" type="checkbox" class="custom-control-input" id="toggle-nsfw-mode"
                       name="nsfw_mode" {{'checked' if current_user.show_nsfw}}
                       value="{{'true' if current_user.show_nsfw else 'false'}}"
                >
                <label class="custom-control-label" for="toggle-nsfw-mode">Display NSFW Content</label>
            </div>
        </div>

        <!-- Blocked users -->
        <div class="mb-2">
            <a href="javascript:void(0);" class="text-muted" onclick="toggleModal('#blocked_modal');">
                Click here to see a list of users you've blocked.
            </a>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary rounded-pill mt-3 float-right" type="submit">
            <strong>
                Save
            </strong>
        </button>

        <div class="clearfix"></div>
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">Referrals</h2>
    <form class="p-2">
        {% set referral_code = current_user.referral_code %}
        {% if referral_code.disabled %}
            <p class="text-muted">
                Your referral code has been disabled by a moderator.
            </p>
        {% else %}
            <p>
                Current uses:
                <strong>
                    {{referral_code.uses}}
                </strong>
            </p>
            <div class="input-group mb-2 cool-input">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="referral-code">Referral Code</label>
                </div>
                <input onclick="copyValue(event)" type="text" id="referral-code"
                       class="form-control text-light clickable"
                       value="{{referral_code.key}}" readonly aria-readonly>
            </div>
            <div class="input-group mb-2 cool-input">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="referral-link">Custom Invite Link</label>
                </div>
                <input onclick="copyValue(event)" type="text" id="referral-link"
                       class="form-control text-light clickable"
                       value="{{referral_code.link}}" readonly aria-readonly>
            </div>
            <p class="mt-4 mb-0">
                Get out there and catch some crabs!
                <br>
                <small class="text-muted">
                    (Anyone using their own registration code to increase their
                    numbers will have their code permanently disabled.)
                </small>
            </p>
        {% endif %}
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">Danger Zone</h2>
    <form class="p-2">
        <p>
            Looking to delete your account? You can
            <a href="/delete-account">
                do that here.
            </a>
        </p>
        <div class="clearfix"></div>
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">
        <span class="glitch-wrapper">
            <span class="glitch" data-text="[REDACTED]">
                [REDACTED] ZONE
            </span>
        </span>
    </h2>
    <form method="POST" class="p-2" onchange="updateStylePreferences(this);">
        <input type="hidden" name="user_action" value="style_settings">

        <p>Exercise EXTREME caution.<p>

        <!-- Light Mode -->
        <div class="form-group cool-input mb-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggle-light-mode"
                    name="light_mode" {{'checked' if light_mode}}>
                <label class="custom-control-label" for="toggle-light-mode">Light Mode</label>
            </div>
        </div>

        <!-- Spooky Mode -->
        <div class="form-group cool-input mb-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggle-spooky-mode"
                    name="spooky_mode" {{'checked' if spooky_mode}}>
                <label class="custom-control-label" for="toggle-spooky-mode">Spooky Mode</label>
            </div>
        </div>

        <!-- Dyslexic Mode -->
        <div class="form-group cool-input mb-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggle-dyslexic-mode"
                    name="dyslexic_mode" {{'checked' if dyslexic_mode}}>
                <label class="custom-control-label" for="toggle-dyslexic-mode">Dyslexic Mode</label>
            </div>
        </div>

        <!-- Comic Sans Mode -->
        <div class="form-group cool-input mb-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggle-comicsans-mode"
                    name="comicsans_mode" {{'checked' if comicsans_mode}}>
                <label class="custom-control-label" for="toggle-comicsans-mode">Comic Sans Mode</label>
            </div>
        </div>
    </form>


    <!-- Spacer -->
    <div class="d-inline-block w-100 py-5 my-5 text-muted text-molt text-center"></div>
</div>

<!-- Blocked modal -->
<div class="modal fade" id="blocked_modal" tabindex="-1" role="dialog" aria-labelledby="blockedUsersModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header py-2 border-dark modal-left-align">
                <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Blocked Users</strong>
            </div>
            <div class="modal-body row m-1 w-100 d-block">
                {% for crab in current_user.blocked %}
                    {% include "mini_bio.html" %}
                {% else %}
                    <span class="text-muted">You have not blocked anyone</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    // Stop autofocus
    document.querySelector("input[name='lastfm']").blur();
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

    var limits = '{{ limits|tojson }}';
        limits = JSON.parse(limits);

    function validateDescription() {
        const input = $('#description');
        const content = input.val();
        if (content.length >= limits['description'])
            input.val(content.substring(0, limits['description']));
    }
</script>
