{% extends "base.html" %}
{% block title %} Timeline {% endblock %}
{% block heading %} Latest Molts {% endblock %}

{% block body %}
    <!-- The compose box lives here! -->
    {% include "mini_compose.html" %}

    <div id="new-molt-indicator" class="p-2 border-bottom border-dark clickable hoverable-light d-none" onclick="location.reload()">
        <strong id="new-molt-counter"></strong> new molt<span id="new-molt-s">s</span> <span class="text-muted">(click to refresh)</span>
    </div>

    <!-- All molts live here! -->
    {% for molt in molts %}
        {% include "molt.html" %}
    {% endfor %}
    <div class="d-inline-block w-100 p-5 text-muted text-molt text-center">Follow more people to see their Molts here! 🦀</div>
    <!-- Spacer -->
    <div class="d-inline-block w-100 p-5 my-5 text-muted text-molt text-center"></div>
{% endblock %}