{% extends "base.html" %}
{% block title %}ADMIN PANEL{% endblock %}
{% block heading %}
    ADMIN PANEL
{% endblock %}
{% block body %}
<!-- Tab buttons -->
<div class="row mx-0">
    <div id="crabs-btn" class="profile-box-category mt-2 text-primary col active" onclick="switchTo('crabs');">
        <div class="py-2"><strong class="d-inline-block w-100 text-center">Crabs</strong></div>
    </div>
    <div id="molts-btn" class="profile-box-category mt-2 text-primary col" onclick="switchTo('molts');">
        <div class="py-2"><strong class="d-inline-block w-100 text-center">Molts</strong></div>
    </div>
</div>

<div id="crabs">
    {% for crab in crabs %}
        <div class="p-2 border-top border-bottom border-dark text-muted">Account status: <strong>{{"Deleted" if crab.deleted else "Active"}}</strong></div>
        {% include "mini_bio.html" %}
        <div class="border-bottom border-dark p-2">
            <form method="POST" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="target" value="crab">
                <input type="hidden" name="crab_id" value="{{crab.id}}">
                <div class="d-flex flex-row justify-content-around">
                    <button type="submit" name="user_action" value="Verify" class="btn btn-primary">Verify</button>
                    {% set del_action = "restore" if crab.deleted else "delete" %}
                    <button type="submit" name="user_action" value="{{del_action}}" class="btn btn-secondary">{{del_action|title}}</button>
                </div>
            </form>
        </div>
        <div class="py-4 border-dark"></div>
    {% endfor %}
    <div class="d-inline-block w-100 p-5 my-5 text-muted text-molt text-center"></div>
</div>
<div id="molts" class="d-none">
    {% for molt in molts %}
    <div class="p-2 border-top border-bottom border-dark text-muted">Molt status:
        <strong>{{"Deleted" if molt.deleted else "Active"}}</strong></div>
        {% include "molt.html" %}
        <div class="border-bottom border-dark p-2">
            <form method="POST" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="target" value="molt">
                <input type="hidden" name="molt_id" value="{{molt.id}}">
                <div class="d-flex flex-row justify-content-start">
                    {% set del_action = "restore" if molt.deleted else "delete" %}
                    <button type="submit" name="user_action" value="{{del_action}}"
                        class="btn btn-secondary">{{del_action|title}}</button>
                </div>
            </form>
        </div>
        <div class="py-4 border-dark"></div>
    {% endfor %}
    <div class="d-inline-block w-100 p-5 my-5 text-muted text-molt text-center"></div>
</div>
<script>
    // Molt/Like tab controller
    function switchTo(tab) {
        if (tab == "molts") {
            // Switch active button
            $("#molts-btn").addClass("active");
            $("#crabs-btn").removeClass("active");
            // Switch tab
            $("#molts").removeClass("d-none");
            $("#crabs").addClass("d-none");
        }
        else if (tab == "crabs") {
            // Switch active button
            $("#crabs-btn").addClass("active");
            $("#molts-btn").removeClass("active");
            // Switch tab
            $("#crabs").removeClass("d-none");
            $("#molts").addClass("d-none");
        }
    }
</script>
{% endblock %}